$accent-color: #ff6b08;
$second-white-color: #f7f7f7;
$main-text-color: #000;
$second-text-color: #8c8c8c;
$dark-text-color: #545454;
$white-text-color: #fff;
$header-bg-color: rgba(0,0,0,0.56);
$second-dark-bg-color: #1a1818;
$main-dark-bg-color: #383838;
$hover-animation: 300ms cubic-bezier(0.38,0.53,0.8,0.71);

$accent-icon: #ff6b08;
$accent-text: #ff6b01;
$white: #ffffff;
$black: #000000;
$page-footer-color: #f7f7f7;
$secondary-text-color: #545454;
$icon-color: #818181;
$modal-text-color: #8c8c8c;
$error-text-color: #ff001b;